{% extends 'movies/base.html' %}

{% block head %}

    <style>
        html,body{
            background:hsl(0, 0%, 14%);
            color: #fff;
        }
        strong{
            color: #6D5BC8;
        }
    </style>

{% endblock head %}

{% block content %}

 <section>
    <div class="container">
        <div class="columns  is-vcentered">
            <div class="column has-text-white">
                <strong>Name : </strong> {{director}} <br>
                <strong>Phone : </strong> {{director.phone}} <br>    
                <strong>Birth Date : </strong> {{director.birth_date}} <br>  
                <strong>Gender : </strong> {{director.gender}} <br>  
                <strong>website : </strong> {{director.website}} <br> 
                <strong>Movies : </strong> {% for movie in director.moviedirector.all %} {{movie.title}} {% endfor %} <br> 
            </div>
        </div>
    </div>
 </section>

{% endblock content %}