body{
    font-family: 'Open Sans', sans-serif;
}

.shadowy{
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.14);
}

.border{
    transition: 0.3s all ease-in-out;
}

div.border.postbox:hover{
    border: 1px solid #158CBA !important;
}

.dot {
    height: 20px;
    width: 20px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
  }

  .ali{
    margin: 0px 25px;
  }

  a.nodecor:hover{
      text-decoration: none;
  }
  .badge-big{
    padding: 0.25em 0.4em;
    font-size: 100%;
  }

  a>p.text-black{
      color: #6c757d;
  }

 .text-line {
    position: relative;
    z-index: 1;
  }
  .text-line:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  .text-line span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
  }

  .lightbg{
      background: rgba(224, 245, 245,0.5);
  }