{% extends 'music/base.html' %}


{% block content %}
<section>
<div class="container p-4 my-4 shadowy">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Band</th>
      <th scope="col">Website</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>
      {% for band in bands %}
     <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'music:band_detail' band.id %}">{{band}}</a></td>
      <td>{{band.website}}</td>
      <td>{% for genre in band.genre.all %}
      {{genre}}  
      {% endfor %}</td>
    {% endfor %}
    <tr>

    </tr>
  </tbody>
</table>

</div>
</section>
{% endblock content %}