{% extends 'music/base.html' %}


{% block content %}
<section>
<div class="container p-4 my-4 shadowy">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Album</th>
      <th scope="col">Band</th>
      <th scope="col">Label</th>
      <th> Release Date</th>
    </tr>
  </thead>
  <tbody>
 
    
     {% for album in albums %}
     <tr>
     <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'music:album_detail' album.slug %}">{{album}}</a></td>
      <td><a href="{% url 'music:band_detail' album.band.id %}">{{album.band}}</a></td>
      <td><a href="{% url 'music:label_detail' album.label.id%}">{{album.label}}</a></td>
      <td>{{album.release_date | date:"d/m/Y" }}</td>
        </tr>
    {% endfor %}
  
  </tbody>
</table>

</div>
</section>
{% endblock content %}