{% extends 'music/base.html' %}


{% block content %}
<section>
<div class="container p-4 my-4 shadowy">

   <h3 class="text-primary text-center"> {{label}}</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Album</th>
      <th scope="col">Label</th>
      <th scope="col">Release Date</th>
      <th>ASIN</th>
    </tr>
  </thead>
  <tbody>
     
      {% for album in label.albums.all %}
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'music:album_detail' album.slug %}">{{album.name}}</a></td>
        <td><a href="">{{album.label}}</a></td>
        <td>{{album.release_date}}</td>
        <td>{{album.asin}}</td>
      {% endfor %}

   
    <tr>

    </tr>
  </tbody>
</table>




</div>
</section>
{% endblock content %}