{% extends 'music/base.html' %}


{% block content %}
<section>
<div class="container p-4 my-4 shadowy">

   <h3 class="text-primary text-center"> {{track}}</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Album</th>
      <th scope="col">Band</th>
      <th scope="col">Genre</th>
      <th> Song</th>
    </tr>
  </thead>
  <tbody>
     <th scope="row">1</th>
      <td><a href="{% url 'music:album_detail' track.album.slug %}">{{track.album.name}}</a></td>
      <td>{{track.band}}</td>
      <td>{% for genre in track.genre.all %}
        {{genre}} 
        {% endfor %}</td>
      <td>{{track.song}}</td>
   
    <tr>

    </tr>
  </tbody>
</table>

</div>
</section>
{% endblock content %}