{% extends 'music/base.html' %}


{% block content %}
<section>
<div class="container p-4 my-4 shadowy">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tracks</th>
      <th scope="col">Band</th>
      <th scope="col">Label</th>
      <th> Release Date</th>
    </tr>
  </thead>
  <tbody>
      {% for track in tracks %}
     <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'music:song_detail' track.slug %}">{{track}}</a></td>
      <td>{{track.band}}</td>
      <td>{{track.album}}</td>
      <td>{% for genre in track.genre.all %}
      {{genre}}  
      {% endfor %}</td>
    {% endfor %}
    <tr>

    </tr>
  </tbody>
</table>

</div>
</section>
{% endblock content %}