{% extends 'forum/base.html' %}
{% load custom_filters %}
{% block content %}

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
             {% for post in posts %}
                <div class="border postbox shadowy my-3 p-3">
                    <a class="nodecor" href="{% url 'forum:post_detail' post.slug %}">
                        <h4 class="text-primary font-weight-bold">{{post}}</h4>
                        <p class="text-black">{{post.content |truncatechars_html:200}}</p>
                    </a>
                </div>
             {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="border my-3 p-3 shadowy">
                    {% if user.is_authenticated %}
                    <a href="{% url 'forum:create_post' %}" class="btn btn-block btn-primary">Start a Discussion</a>
                    {% else %}
                    Please <a href="{% url 'forum:login' %}">Login</a> or <a href="{% url 'forum:signup' %}">Sign up</a> to access more features.
                    {% endif %}
                    
                    <hr>
                  
                    {% for thread in threads %}
                        <p><span class="dot d-flex"  style="background:{{"# "|rand_color}}"><strong class="ali"><a class="nodecor text-black" href="{% url 'forum:thread_detail' thread.slug %}">{{thread}}</a></strong></span></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}