{% extends 'forum/base.html' %}


{% block content %}


<div class="jumbotron">
<div class="container">
    <a href="{% url 'forum:thread_detail' post.thread.slug %}"><h5 class="badge badge-primary badge-big">{{post.thread.title}}</h5></a>
  <h3 class="font-weight-bold">{{post.title}}</h3>
{% if user == post.user %}
<div class="text-right">
<a href="{% url 'forum:edit_post' post.slug %}" class="btn btn-warning">Edit</a>
<a href="{% url 'forum:delete_post' post.slug %}" class="btn btn-danger">Delete</a>
</div>
{% endif %}

</div>
</div>
<section>
<div class="container">
<div class="row">
<div class="col-md-8">
<div class="border p-3 lightbg">
<p>Post by <strong>{{post.user |capfirst}}</strong> | {{post.modified}} {% if  post.modified|date:"g:i a" == post.created|date:"g:i a"  %} {% else %}<strong>(Edited)</strong>{% endif %}</p>

<p class="text-justify">
{{post.content}}
</p>
</div>
<br>
{% if post.comments.all %}
<p class="text-line text-center"><span><strong>{{post.comments.count}} COMMENTS</strong></span></p>
{% else %}
    <p class="text-line text-center"><span><strong>BE THE FIRST ONE TO COMMENT</strong></span></p>
    
{% endif %}

<br>
{% for comment in post.comments.all %}
   <div class="p-3 my-2">
     <div>
     <span class="text-left"><strong>{{comment.user |capfirst}}</strong> | {{comment.created}} {% if  comment.modified|date:"g:i a" == comment.created|date:"g:i a"  %} {% else %}<strong>(Edited)</strong>{% endif %}</span>
     {% if user == comment.user %}
     <span class="float-right">
      <a href="{% url 'forum:edit_comment' comment.id %}" class="badge badge-primary">Edit</a>
      <a href="{% url 'forum:delete_comment' comment.id %}" class="badge badge-danger">Delete</a>
     </span>
     {% endif %}
     <div class="clearfix"></div>
     </div>
     <p class="text-justify my-2">{{comment.content}}</p>
     <hr>
   </div>
{% endfor %}

{% include 'forum/_comment_box.html'  with post=post edit_comment=edit_comment%}
</div>
</div>

</div>
</section>


{% endblock content %}